// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header
	border-top: 1rem solid $gold
	a img
		width: 100%

.topic
	// background: $gold-20

.topic h2
	color: $gold-60
	font-family: $heading-font-stack
	font-size: 2.3rem
    margin-bottom: 0

	+mobile
		font-size: 1.8rem

	span
		color: $gold
