// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.introduction
    background-color: $teal-base
    color: #fff

    h2
        color: #fff

    .topic
        font-size: 2.3rem

        strong
            margin-left: -.36em // pull quote
            text-transform: uppercase

.abstract
    p
        margin-bottom: 1rem

.events-list
    h3 + date
        display: block
        margin: -1rem 0 1rem

        font-family: $heading-font-stack
        font-size: 2rem
        color: $teal-main
        font-weight: normal

    li
        margin: 0
        padding: 0 0 .7rem
        list-style-type: none

    ul
        date
            font-family: $heading-font-stack
            color: $coal-01
            text-transform: uppercase

            &::after
                content: ":"
