// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.teal
	background-color: $teal
	background-image: url("../images/bg-pattern.gif")
	background-position: bottom right
	background-size: 600px auto
	background-repeat: no-repeat
	color: white

	+tablet
		background-size: 400px auto

	+mobile
		background-size: 300px auto

	h2
		color: white

.black
	background-color: $rich-black-80
	color: white
