table.schedule
    thead
        tr
            th Day
            th Sunday 3
            th Monday 4
            th Tuesday 5
            th Wednesday 6
            th Thursday 7
            th Friday 8
    tbody
        tr
            td Morning
            td
            td
            td
            td(rowspan='2'): p APP Presentations <date>10am — 5pm</date>
            td
            td(rowspan='2'): a.ruby(href='/symposium.html') Symposium <date>10am — 6pm</date>
        tr
            td Afternoon
            td: a(href='/workshops.html') Crypto-party &amp; Arduinotar Families Workshop <date>2pm — 5pm</date>
            td: a(href='/workshops.html') MAT Workshop with artists <date>2pm — 5pm</date>
            td
            td
        tr
            td Evening
            td
            td: p.gold Opening night <date>from 6pm</date>
            td: a(href='/workshops.html') No Spec workshop <date>from 6pm</date>
            td: a(href='/workshops.html') Short Film Screenings <date>from 6pm</date>
            td
            td: p.gold Symposium wrap party <date>from 6pm</date>
