.section.introduction
    .container
        .row: .twelve.columns
            h2 404 error
            h3 Whoops. Looks like what you're looking for can't be found.
            
            p Try to go to the <a href="/">homepage</a>. If you come from a search engine, maybe you were looking for something <a href="https://2016.intersections.io">on our 2016 website</a>?
