.section.teal
    .container: .row
        .five.columns
            h2 Inter/sections

            p Intersections is the annual symposium organised by the Media and Arts Technology doctoral programme at Queen Mary University of London, combining an exhibition, talks, workshops and performances into a week-long discussion of innovative and interdisciplinary research in arts and science.

            iframe(src="https://player.vimeo.com/video/188005932?color=3AA08F", width="100%", height="auto", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

            a.button.button-primary(href="https://2016.intersections.io") Visit the 2016 symposium website

        .seven.columns
            h2 Abstract

            p Intersections is the annual symposium organised by the Media and Arts Technology doctoral programme at Queen Mary University of London, combining exhibition, talks, workshops, performances and events into a week-long discussion of innovative and interdisciplinary research in arts and science.

            p Hosted at the Mile End Art Pavilion in the heart of East London, Intersections 2017 will focus on ethics and politics in media and arts technology. Invited experts will share their works and thoughts about [topic 1], [topic 2] and [topic 3] amongst others, fostering discussion between academia, industry, government and the public.

            p Visitors will be able to explore an exhibition showcasing a range of installations and performances developed as part of the research by the programme’s postgraduate students, and participate in workshops including [learn about / participate in event 1], [learn about / participate in event 2], [learn about / participate in event 3].

.section
    .container
        .row
            .twelve.columns
                h2 Intersections!
                h3 This is a template to test push and all.

        //- Previous year
        .row
            .five.columns

            .seven.columns


