.section.introduction
    .container: .row.twelve.columns.topic
            strong “Just because we can doesn’t mean we should”:<br>
            | Exhibition, symposium and workshops<br>
            | about ethics and politics in media and arts technology.
            

.section.abstract
    .container
        .five.columns
            iframe(src="https://player.vimeo.com/video/188005932?color=3AA08F", width="100%", height="204", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

            a.button.button-primary(href="https://2016.intersections.io") Visit the 2016 symposium website

        .seven.columns
            h2.visually-hidden 2017 Abstract

            != partial("_content/abstract")

.section.events-list
    .container
        .row
            .four.columns
                != partial("_content/home-exhibition")
            .four.columns
                != partial("_content/home-symposium")
            .four.columns
                != partial("_content/home-workshops")
                
        .row
            .twelve-columns
                != partial("_content/tickets")

.section.mailing-list-registration
    .container
        != partial("_partials/mailing-list-registration")
