.section.teal
    .container: .row
        .five.columns
            h2 Inter/sections

            != partial("_content/intro")

            iframe(src="https://player.vimeo.com/video/188005932?color=3AA08F", width="100%", height="204", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

            a.button.button-primary(href="https://2016.intersections.io") Visit the 2016 symposium website

        .seven.columns
            h2 2017 Abstract

            != partial("_content/abstract")

.section
    .container
        .row
            .seven.columns
                h2 Call for speakers
                != partial("_content/call-for-speakers")

            .five.columns
                img.full-width(src="http://placehold.it/600x400", alt="Placeholder")
                //- ??

.section.black
.section.call-for-artists
    .container
        .row
            .five.columns
                img.full-width(src="/images/art.png", alt="Placeholder")

            .seven.columns
                h2 Call for artists
                != partial("_content/artists-commission")

    .container
        != partial("_partials/mailing-list-registration")
