
.section.abstract
    .container
        .six.columns
            h3 Getting there
            
            p: strong.
                The Art Pavilion Mile End Park<br>
                Clinton Road<br>
                London E3 4QY
            
            p We are 5 minutes away from the main QMUL campus, via Mile End Road then the Regent’s Canal towpath.
            p The closest Underground station is Mile End (Central, District, and Hammersmith &amp; City lines), which is also a 5 minutes walk away.        

            h3 Exhibition opening times
            p.
                Sunday 3 to Friday 8 September <br>
                10am — 6pm. We will be open longer during evening events.
            
            h3 Contacting us
            p Please email <a href="mailto:info@intersections.io">info@intersections.io</a> with any queries you may have about the event.
             
            h3 Accessibility
            p The Pavilion is step-free throughout and has accessible facilities for people with reduced mobility. Please <a href="mailto:info@intersections.io">contact us</a> if you have any specific accessibility requirement.

        .six.columns
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2456.603073230243!2d-0.037335193479624294!3d51.526455982840304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x58608d68d498f2fd!2sThe+Art+Pavilion+Mile+End+Park!5e0!3m2!1sen!2suk!4v1497619650765", width="100%", height="450", frameborder="0", style="border:0", allowfullscreen)
