.section.introduction
    .container: .row
        .ten.columns
            h2 Code of Conduct

            p.large-type Inter/sections is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion or origins. We do not tolerate harassment of conference participants in any form. Conference participants violating these rules may be sanctioned or expelled from the conference at the discretion of the conference organizers.

.section
    .container: .row
        .eight.columns

            != partial("_content/code-of-conduct")
