footer.section
     .container
        .row
            .five.columns
                | &copy; Intersections 2016-2017.<br >
                | Intersections is supported and sponsored by:

            .three.columns
                //- @todo: have logos
                p
                    | MAT<br>
                    | QMUL <br>
                    | RCUK Digital Economy

            .three.columns
                p
                    | AHRC <br>
                    | EPSRC <br>
                    | C4DM <br>

        .row
            .eight-columns
                p Intersections is dedicated to a harassment-free conference experience for everyone. Our anti-harassment policy <a href="/code-of-conduct">can be found here</a>.
