footer.section
     .container
        .row
            .twelve.columns
                | &copy; Intersections 2016 - 2017. We are supported and sponsored by:

        .row
            //- sponsors is defined in harp.json
            each details, sponsor in sponsors
                .two.columns
                    a.logo(href=details[1])
                        img(src='/images/sponsors/#{ sponsor }.png', alt=details[0], title=details[0])
         .row
            .eight-columns
                p Intersections is dedicated to a harassment-free conference experience for everyone. Our anti-harassment policy <a href="/code-of-conduct">can be found here</a>.
