header.section
    .container
        .row.eight.columns
                h1: a#logo(href='/')
                    img(src="images/logo.png", alt="Intersections 2017")

        .row.twelve.columns.topic
            h2 The ethics and politics of Media Arts &amp; Technology <br>
                span #{ dates }, Mile End, London
