header.section
    .container
        .row.eight.columns
                h1: a#logo(href='/')
                    img(src="images/logo.png", alt="Intersections 2017")

        .row.twelve.columns.topic
            h2 Exhibition, talks, workshops and performances<br>
                | at the intersection of media &amp; arts technology. <br>
                span #{ dates }, Mile End Art Pavilion, London
