/**
 * Basic typography style for copy text */
body
    color: $coal-base
    font: normal 150% / 1.4 $text-font-stack

h2
    font-family: $heading-font-stack
    color: $teal-base
    text-transform: uppercase
    font-weight: normal
    letter-spacing: -.08rem
    font-size: 3.6rem
    line-height: 1.1

    +tablet
        font-size: 3rem

    +mobile
        font-size: 2.4rem

h3
    font-family: $heading-font-stack
    color: $teal
    font-size: 2.5rem
    text-transform: uppercase
    font-weight: bold
    letter-spacing: -.08rem
    margin-bottom: 0.6rem

.large-type
    font-size: 1.8rem

.dim
    color: $coal-02
